body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #333;
}

div {
  margin-bottom: 15px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

li {
  background: #fff;
  margin-bottom: 5px;
  padding: 8px;
  list-style: none;
}
